* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    position: fixed;
    width: 100vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: none;
}