/*
Error: Invalid CSS after "...eDelay infinite": expected ";", was ", #{$framesName..."
        on line 121 of style.scss

116:       $scaleDelay: random(5000) + ms;
117:       $moveDuration: 5000 + random(10000) + ms;
118:       $delayDuration: random(20000) + ms;
119:       transform: translate(#{- ($circleSize + 10) + px}, #{random(100) + vh});
120: 
121:       animation: fade-frames 200ms linear 0s infinite, #{$scaleAnimationName} 2s linear $scaleDelay infinite, #{$framesName} $moveDuration linear $delayDuration infinite;
122: 
123:       @keyframes #{$scaleAnimationName} {
124:         0% {
125:           width: $circleSize * 0.5 + px;
126:           height: $circleSize * 0.5 + px;

Backtrace:
style.scss:121
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1308:in `expected'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1238:in `expected'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1233:in `tok!'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:815:in `block in try_declaration'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1284:in `rethrow'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:820:in `try_declaration'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:743:in `declaration_or_ruleset'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:708:in `block_child'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:689:in `block'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:708:in `block_child'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:697:in `block_contents'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:689:in `block'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:301:in `for_directive'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:234:in `special_directive'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:209:in `directive'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:708:in `block_child'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:689:in `block'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:681:in `ruleset'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:707:in `block_child'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:41:in `parse'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:414:in `_to_tree'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:387:in `run'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
D:/Apps/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.2/bin/sass:13:in `<top (required)>'
D:/Apps/Ruby25-x64/bin/sass:23:in `load'
D:/Apps/Ruby25-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...eDelay infinite\": expected \";\", was \", #{$framesName...\"\A         on line 121 of style.scss\A \A 116:       $scaleDelay: random(5000) + ms;\A 117:       $moveDuration: 5000 + random(10000) + ms;\A 118:       $delayDuration: random(20000) + ms;\A 119:       transform: translate(#{- ($circleSize + 10) + px}, #{random(100) + vh});\A 120: \A 121:       animation: fade-frames 200ms linear 0s infinite, #{$scaleAnimationName} 2s linear $scaleDelay infinite, #{$framesName} $moveDuration linear $delayDuration infinite;\A 122: \A 123:       @keyframes #{$scaleAnimationName} {\A 124:         0% {\A 125:           width: $circleSize * 0.5 + px;\A 126:           height: $circleSize * 0.5 + px;"; }
